header {
  background-color: #900C3F;
}
#website-name {
  color: white;
  font-size: 40px;
}
#intro-text {
  color: #900C3F;
}
#countries {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
}
  #main-header {
  display: flex;
  justify-content: space-around
}
#randomizer {
  color: white;
  background: #4E6C50;
  /* padding: 11px 22px; */
  height: 41px;
  width: 175px;
  
}
.country {
    height: 250px;
    width: 250px;
    margin: 20px;
    /* padding: 120px 0px; */
    background: rgba(38, 79, 15, 0.75);
    font-size: 27px;
    text-align: center;
    padding: 0px 0px;
    color: white;
}
.country:hover{
  cursor: pointer;
}
#meal-div{
  background: rgba(144,13,62, 25%);
  padding: 30px;
  margin: 20px;
  height: 250px;
  width: 250px;
  
}
#meal-div:hover{
  cursor: pointer;
}
.cousine-meal-img {
  height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
#food-name {
  text-align: center;
  margin-top: 0px;
}
.meal-img {
  height: 700px;
  width: 700px;
  display: block;
  margin: 0 auto;
}
