body {
  max-width: 950px;
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
}
header {
  background-color: #900C3F;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.website-name {
  color: white;
  font-size: 45px;
  font-family: 'Bebas Neue', serif;
  margin-left: 10px;
}
.website-name:hover {
  cursor: pointer;
}
#intro-text {
  color: #900C3F;
}
#countries, #favorites {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
}
.randomizer {
  color: white;
  background: #4E6C50;
  height: 41px;
  width: 175px;
  box-shadow: 3px 3px 6px gray;
  border: none;
}
.randomizer:hover {
  cursor: pointer;
  box-shadow: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 23px;
  margin: 40px 30px;
  margin-top: 45px;
}
.country {
  height: 250px;
  width: 250px; 
  margin: 20px;
  background: rgba(38, 79, 15, 0.55);
  font-size: 27px;
  text-align: center;
  padding: 0px 0px;
  color: white;
  border-radius: 50px;
  box-shadow: 5px 3px 10px gray;
}
.country:hover{
  cursor: pointer;
  box-shadow: none;
}
.country-name {
  margin: 0px;
  line-height: 250px;
}

#American {
  background : url(images/AmericanFlag.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#British {
  background : url(images/UK.jpg.avif);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Canadian {
  background : url(images/CanadianFlag.jpg.avif);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Chinese {
  background : url(images/Chinese.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Croatian {
  background : url(images/Croatian.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Dutch {
  background : url(images/Dutch.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Egyptian {
  background : url(images/Egypt.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
  
#Filipino {
  background : url(images/Filipino.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#French {
  background : url(images/French.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Greek {
  background : url(images/Greece.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Indian {
  background : url(images/Indian.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Irish {
  background : url(images/Irish.jpeg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Italian {
  background : url(images/ItalianFlag.avif);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Jamaican {
  background : url(images/Jamaican.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Japanese {
  background : url(images/Japan.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Kenyan {
  background : url(images/Kenya.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : white;
}
#Malaysian {
  background : url(images/Malaysia.avif);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Mexican {
  background : url(images/Mexico.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  object-fit: cover;
}
#Moroccan {
  background : url(images/Morocco.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Polish {
  background : url(images/Poland.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Portuguese {
  background : url(images/portugal.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Russian {
  background : url(images/Russian.avif);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Spanish {
  background : url(images/Spanish.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Thai {
  background : url(images/Thailand.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Tunisian {
  background : url(images/Tunisia.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Turkish {
  background : url(images/Turkish.avif);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
#Vietnamese {
  background : url(images/vietnamese.jpg);
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}

#Unknown {
  background-color: azure;
  z-index: 0;
  border-radius: 50px;
  text-align: center;
  color : black;
}
.meal-div{
  background: rgba(144,13,62, 25%);
  padding: 30px;
  margin: 20px;
  height: 70%;
  border-radius:50px;
  box-shadow: 5px 3px 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.meal-div:hover{
  cursor: pointer;
  box-shadow: none;

}
.cousine-meal-img {
  height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
.food-name {
  text-align: center;
  margin-top: 0px;
}
.meal-img {
  height: 700px;
  width: 700px;
  display: block;
  margin: 0 auto;
  border: solid 3px rgb(219, 217, 217)
}
.fa-heart {
  font-size: 40px;
  text-align: right;
  margin-top: 20px;
  margin-right: 15px;
  color: red;
}
.fa-heart:hover {
  color: rgb(141, 117, 117);
  cursor: pointer;
}
#meal-details {
  padding: 0px 15px;
}
#favorite-text {
  color: #900C3F;
}
#cousine {
  margin-bottom: 5px;
  font-weight: 400;
}
#category {
  margin-top: 5px;
  font-weight: 400;

}
#meal-source {
  margin-top: 50px;
}