header {
  background-color: #900C3F;
}
h1 {
  color: white;
}
h2 {
  color: #900C3F;
}
#main-header {
  display: flex;
  justify-content: space-around
}
#randomizer {
  color: white;
  background: #4E6C50;
  /* padding: 11px 22px; */
  height: 41px;
  width: 175px;
  
}
.country {
    height: 100px;
    width: 100px;
    margin: 20px;
    background: red;
}
#meal-div{
  border: solid black 1px;
  height: 300px;
  width: 300px;
}
.cousine-meal-img {
  height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
}